html {
  height: 100%;
}
body {
  background-color: #141416;
  margin: 0;
  padding-bottom: 4rem;
  position: relative;
  min-height: 100%;
  font-family: "Cardo", serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.scoll-pane {
  width: 100%;
  height: auto;
  outline: none;
  overflow-y: hidden;
  padding-bottom: 15px;
  -ms-overflow-style: scroll;
  scrollbar-width: none;
}
.scoll-pane::-webkit-scrollbar {
  display: none;
}

.noshadow {
  box-shadow: none !important;
}
.poster {
  transition: transform 450ms;
}
.poster:hover {
  transform: scale(1.08);
}
